.gallery {
  width: 100%;
}
.gallery-slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.gallery-slider .swiper-slide {
  width: auto;
}
.gallery-slider .swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.gallery-thumbs {
  width: 700px;
  padding: 0;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide {
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide img {
  width: auto;
  height: 100%;
  border-radius: 100px;
}

/* extra */
.gallery .swiper-slide.swiper-slide-active img {
  width: 200px !important;
  height: 200px !important;
}
.gallery-thumbs .img-img .swiper-slide img {
  width: 120px;
  height: 120px;
}
.gallery-thumbs .img-img .swiper-slide {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 220px;
}

.gallery-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gallery-slider .swiper-slide i {
  font-size: 22px;
  padding-top: 60px;
}
.gallery-slider .swiper-slide p {
  text-align: center;
  padding: 0;
  margin: 0;
}
.gallery-slider .swiper-slide h4 {
  padding: 24px 0px 85px 0px;
  margin: 0;
}
.gallery .swiper-container-horizontal .swiper-pagination-bullet {
  background: #fff;
  width: 12px;
  height: 12px;
}

.gallery .swiper-button-prev:after,
.gallery .swiper-button-next:after {
  display: none;
}
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  background-image: none;
}
.gallery .swiper-button-prev:hover,
.gallery .swiper-button-next:hover {
  width: 60px;
  height: 60px;
  background-color: rgba(248, 179, 38, 1);
  border-radius: 50px;
  color: #333;
  font-size: 22px;
  font-weight: 400;
}
.gallery .swiper-button-prev,
.gallery .swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: rgba(248, 178, 38, 0);
  border: 1px solid #323232;
  border-radius: 50px;
  color: rgba(96, 94, 92, 1);
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .gallery .pagi_btn {
    display: none;
  }
  .gallery-thumbs {
    display: none;
  }
}
